<div id="box" class="rounded-[1.5px]
            bg-white pb-[20px]">
  <h1 class="ml-[30px] mt-[14px]">sales</h1>
  <div id="card" class="flex justify-center gap-[12px]">
    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center p-1">
      <div><img src="img/k.png" alt="" id="cardimg" class="w-[170px]"></div>

      <div id="cardtext" class="text-center  text-xl">
        <%= productName %>
      </div>
      <form action="/submit" method="post">
        <div class="flex gap-2 items-center justify-center ">
          <div class="w-[100px]  flex   justify-center pb-1 bg-violet-300 rounded-xl ">
            <span class="block cursor-pointer text-xl px-4 text-blue select-none"
              onClick='decreaseCount(event, this)'>-</span>
            <input type="text" value="1" class="w-[30px] text-lg text-center bg-violet-300
                             text-blue outline-0 appearance-none">
            <span class="block cursor-pointer text-xl px-4 text-blue select-none"
              onClick='increaseCount(event, this)'>+</span>
          </div>
          <div class=" "><input type="submit" value="Add To Cart" class=" cursor-pointer bg-purple-900 text-white rounded-sm p-[6px]"></div>
        </div>
      </form>
    </div>
    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center p-1">
      <div><img src="img/k.png" alt="" id="cardimg" class="w-[170px]"></div>

      <div id="cardtext" class="text-center  text-xl">
        <%= productName1 %>
      </div>
      <div class="flex gap-2 items-center justify-center ">
        <div class="w-[100px]  flex   justify-center pb-1 bg-violet-300 rounded-xl ">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='decreaseCount(event, this)'>-</span>
          <input type="text" value="1" class="w-[30px] text-lg text-center bg-violet-300
                             text-blue outline-0 appearance-none">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='increaseCount(event, this)'>+</span>
        </div>
        <div class=" "><button class="bg-purple-900 text-white rounded-sm p-[6px]">Add to Cart</button></div>
      </div>
    </div>
    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center p-1">
      <div><img src="img/k.png" alt="" id="cardimg" class="w-[170px]"></div>

      <div id="cardtext" class="text-center  text-xl">
        <%= productName2 %>
      </div>
      <div class="flex gap-2 items-center justify-center ">
        <div class="w-[100px]  flex   justify-center pb-1 bg-violet-300 rounded-xl ">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='decreaseCount(event, this)'>-</span>
          <input type="text" value="1" class="w-[30px] text-lg text-center bg-violet-300
                             text-blue outline-0 appearance-none">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='increaseCount(event, this)'>+</span>
        </div>
        <div class=" "><button class="bg-purple-900 text-white rounded-sm p-[6px]">Add to Cart</button></div>
      </div>
    </div>
    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center p-1">
      <div><img src="img/k.png" alt="" id="cardimg" class="w-[170px]"></div>

      <div id="cardtext" class="text-center  text-xl">
        <%= productName3 %>
      </div>
      <div class="flex gap-2 items-center justify-center ">
        <div class="w-[100px]  flex   justify-center pb-1 bg-violet-300 rounded-xl ">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='decreaseCount(event, this)'>-</span>
          <input type="text" value="1" class="w-[30px] text-lg text-center bg-violet-300
                             text-blue outline-0 appearance-none">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='increaseCount(event, this)'>+</span>
        </div>
        <div class=" "><button class="bg-purple-900 text-white rounded-sm p-[6px]">Add to Cart</button></div>
      </div>
    </div>
    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center p-1">
      <div><img src="img/k.png" alt="" id="cardimg" class="w-[170px]"></div>

      <div id="cardtext" class="text-center  text-xl">
        <%= productName4 %>
      </div>
      <div class="flex gap-2 items-center justify-center ">
        <div class="w-[100px]  flex   justify-center pb-1 bg-violet-300 rounded-xl ">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='decreaseCount(event, this)'>-</span>
          <input type="text" value="1" class="w-[30px] text-lg text-center bg-violet-300
                             text-blue outline-0 appearance-none">
          <span class="block cursor-pointer text-xl px-4 text-blue select-none"
            onClick='increaseCount(event, this)'>+</span>
        </div>
        <div class=" "><button class="bg-purple-900 text-white rounded-sm p-[6px]">Add to Cart</button></div>
      </div>
    </div>

  </div>
</div>